<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fosu.shop.provider.mapper.TbFreightTemplateMapper">
  <resultMap id="BaseResultMap" type="com.fosu.shop.provider.domain.TbFreightTemplate">
    <!--@mbg.generated generated on Sat Sep 07 16:54:48 CST 2019.-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="seller_id" jdbcType="VARCHAR" property="sellerId" />
    <result column="is_default" jdbcType="VARCHAR" property="isDefault" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="send_time_type" jdbcType="VARCHAR" property="sendTimeType" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sat Sep 07 16:54:48 CST 2019.-->
    id, seller_id, is_default, `name`, send_time_type, price, create_time
  </sql>
</mapper>