<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="javaMapperPackage" value="com.fosu.shop.mapper" />
        <option name="javaMapperPath" value="E:\idea_code\spring-cloud-alibaba-school\provider\goods-manager-provider-service\src\main\java" />
        <option name="javaModelPackage" value="com.fosu.shop.domain" />
        <option name="javaModelPath" value="E:\idea_code\spring-cloud-alibaba-school\provider\goods-manager-provider-api\src\main\java" />
        <option name="lastDatabaseCrudChooseModuleName" value="spring-cloud-alibaba-school" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="spring-cloud-alibaba-school">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.fosu.shop.mapper" />
                  <option name="javaMapperPath" value="E:\idea_code\spring-cloud-alibaba-school\provider\goods-manager-provider-service\src\main\java" />
                  <option name="javaModelPacakge" value="com.fosu.shop.domain" />
                  <option name="javaModelPath" value="E:\idea_code\spring-cloud-alibaba-school\provider\goods-manager-provider-api\src\main\java" />
                  <option name="xmlPackage" value="mapperxml" />
                  <option name="xmlPath" value="E:\idea_code\spring-cloud-alibaba-school\provider\goods-manager-provider-service\src\main\resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="pinyougoudb:tb_address">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbAddress" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_areas">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbAreas" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_brand">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbBrand" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_cities">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbCities" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_content">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbContent" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_content_category">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbContentCategory" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_freight_template">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbFreightTemplate" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_goods">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbGoods" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_goods_desc">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="TbGoodsDesc" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_item">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbItem" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_item_cat">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbItemCat" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_order">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="TbOrder" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_order_item">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="TbOrderItem" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_pay_log">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="TbPayLog" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_provinces">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbProvinces" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_seckill_goods">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbSeckillGoods" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_seckill_order">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="TbSeckillOrder" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_seller">
              <value>
                <TableGenerateConfig>
                  <option name="javaModelName" value="TbSeller" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_specification">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbSpecification" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_specification_option">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbSpecificationOption" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_type_template">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbTypeTemplate" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="pinyougoudb:tb_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbUser" />
                  <option name="moduleName" value="spring-cloud-alibaba-school" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useCommonMapper" value="true" />
        <option name="useLomBokOnModel" value="true" />
        <option name="xmlMapperPackage" value="mapperxml" />
        <option name="xmlMapperPath" value="E:\idea_code\spring-cloud-alibaba-school\provider\goods-manager-provider-service\src\main\resources" />
      </ProjectProfile>
    </option>
  </component>
</project>